{% extends 'slam/base.html' %}

{% block content %}

<div class="start">
		<div class="slam-form" id="slam-form">
		<p class="create-slam-title">Create a Slam</p>
		<br>
		<form id="createSlamForm" action="round/" method="post">
		{% csrf_token %}
		<div class="poet-list">
		<p>
			{{ slam.as_p }}
		</div>
			<div>
				<table>
					{% for form in poets.forms %}
        			<tbody>
						<tr>
							<td>{{ form }}</td>
						</tr>
					</tbody>
				</table>
					{% endfor %}
			</div>
			{{ poets.management_form }}
		<div>
			<div class="add-poet">add poet </div> | 
			<div class="remove-poet">remove poet</div>
		</div>

		<input type="submit" value="Let's get slamming!">
		</p>
		</form>
		</div>
		<p id="start-slam-button">Start slam</p>

	</div>
	
{% endblock content %}
